atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink
vim/vim.symlink/autoload/gocomplete.vim
vim/vim.symlink/ftplugin/
vim/vim.symlink/bundle/
